@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="col-sm-12 text-center">
        <h4>Rainbow School</h4>
    </div>
    <div class="clearfix row">
        <div class="col-sm-12">
            <a href="Home/Info?t=teachers">Show Info About Teachers</a><br />
            <a href="Home/Info?t=infrastructure">Show Info About Infrastructure</a><br />
            <a href="Home/Info?t=admissions">Show Info About Admissions</a><br />
        </div>
    </div>
    <div class="clearfix row">
        <div class="col-sm-5">
            <h4>Enter student details in the form below</h4>
            <form action="Home/StudentDetails" method="post">
                <div class="row">
                    <div class="col-sm-3">Name</div>
                    <div class="col-sm-9"><input class="form-control" name="name" maxlength="40" /></div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Address</div>
                    <div class="col-sm-9"><input class="form-control" name="address" maxlength="100" /></div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Subject</div>
                    <div class="col-sm-9"><input class="form-control" name="subject" maxlength="40" /></div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-right">
                        <button class="btn btn-default">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
