@{
    ViewData["Title"] = "StudentDetails";
}

<h2>StudentDetails</h2>
<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            @Html.Raw(ViewData["message"]);
        </div>
    </div>
</div>
